[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
textblob = "*"
openai = "*"
transformers = "*"
tensorflow = "*"
torch = "*"
accelerate = "*"
wget = "*"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.11"
